
@if(ViewData.Model.ErrorCount > 0)
{
    <div style="padding-top: 15px;">
        <div class="alert alert-danger">
            <button id="msgRetorno">x</button>
            <h3>Algo deu errado!</h3>
            <div></div>
        </div>
    </div>
}